

h2{
    font-family: DFKai-SB, "Microsoft JhengHei";
}
.news{
    border: 2px dashed rgb(11, 22, 85);
    padding: 10px;

}

.special_new{
    border: 2px dotted rgb(8, 143, 60);
    padding: 10px;
    background-color: rgb(152, 236, 215);
    
}

.news_marquee {
    animation : slide 7s linear  ; //infinite : 無限次
    color:rgb(0, 0, 0);
    position: relative;
    white-space:nowrap;
    
    
}

@keyframes slide {
    from{
    left: 600px;
    }

    to {
    left: 0px;
    }
}


