<app-header></app-header>

<!-- <span>dotted</span> -->
<hr style="border: 3px dotted rgb(95, 233, 180);"/>
<!-- <span>solid</span> <hr style="border: 3px solid rgb(95, 233, 180);"/>
<span>dashed</span><hr style="border: 3px dashed rgb(95, 233, 180);"/>
<span>double</span><hr style="border: 3px double rgb(95, 233, 180);"/> 
<span>groove</span><hr style="border: 3px groove rgb(95, 233, 180);"/> 
<span>ridge</span><hr style="border: 3px ridge rgb(95, 233, 180);"/> 
<span>inset</span><hr style="border: 3px inset rgb(95, 233, 180);"/> 
<span>outset</span><hr style="border: 3px outset rgb(95, 233, 180);"/>  -->

<h1>{{title}}</h1>


<div style="border: 3px dashed rgb(252, 252, 252);">
  <h2>{{newinfo.category}}</h2>
  <h3>{{newinfo.title}}</h3>
  <h4>{{newinfo.content}}</h4>
</div>


