<app-header></app-header>

<hr style="border: 5px dotted rgb(194, 137, 137);"/>  <!--dotted-->
<!-- <hr style="border: 5px solid rgb(194, 137, 137);"/>solid 
<hr style="border: 5px dashed rgb(194, 137, 137);"/> dashed
<hr style="border: 5px double rgb(194, 137, 137);"/> double
<hr style="border: 5px groove rgb(194, 137, 137);"/> groove
<hr style="border: 5px ridge rgb(194, 137, 137);"/> ridge
<hr style="border: 5px inset rgb(194, 137, 137);"/> inset
<hr style="border: 5px outset rgb(194, 137, 137);"/> outset -->

<p>
  news works!
</p>
